.teny {
    text-shadow: 10px 5px 3px red;
}
.teny1 {
    text-shadow: -10px -5px green;
}
.teny2 {
    text-shadow: 15px -10px black;
}
.teny3 {
    text-shadow: 0px 0px 5px green;
}
.teny4 {
    text-shadow: 0px 15px 0px red, 0px -15px 0px green;
}
.teny5 {
    text-shadow: 3px 2px 3px;
}
.teny6 {
    text-shadow: 0px 0px 3px;
}
.teny7 {
    text-shadow: 0px 0px 3px red;
}
.teny8 {
    text-shadow: 10px 10px 3px red, -10px -10px 3px blue;
}
.teny9 {
    text-shadow: 10px 10px 1px red, 20px 20px 1px blue;
}
div {
    margin-left: 35px;
    margin-bottom: 30px;
}